.parent{
    -fx-background-color: #FFFFFF;
    -fx-background-radius: 30;
}

.sidebar{
    -fx-background-color: #FFFFFF;
    -fx-background-radius: 30;
}

.submitButton{
    -fx-background-color: #FF6D3B;
    -fx-background-radius: 20px;
    -fx-effect: null; /*remove drop shadow*/
}

.search_tf{
    -fx-background-color: #FFFFFF ;
    -fx-background-radius: 20px;
}

.textField{
    -fx-background-color: transparent;
    -fx-effect: null;
}

.confessionPost{
    -fx-background-color: #FFFFFF ;
    -fx-background-radius: 20px;
}

.confessionPostInfo{
    -fx-background-color: #FABF48  ;
    -fx-background-radius: 20px;
}

.backButton{
    -fx-background-color: BLACK;
    -fx-background-radius: 20px;
}

.table-view{
    -fx-background-color: transparent;
}

.table-view .column-header-background .filler{
    -fx-background-color: transparent;
}

.table-view .corner {
    -fx-background-color: transparent;
}

.table-view .column-header-background{
    -fx-background-color: #FABF48;
    /*-fx-background-color: linear-gradient(to bottom, #1dbbdd44, #93f9b944);*/
    -fx-background-radius: 7px 7px 0px 0px;
    -fx-background-insets: 0 11px 0 0;
    -fx-padding: 0 0 5px 0;
}

.table-view .column-header {
    -fx-background-color: transparent;
}

/*.table-view .table-cell{*/
/*    -fx-padding: 2 0 2 10px;*/
/*}*/


.table-view .virtual-flow .scroll-bar:vertical,
.table-view .virtual-flow .scroll-bar:vertical .track,
.table-view .virtual-flow .scroll-bar:vertical .track-background,
.table-view .virtual-flow .scroll-bar:horizontal,
.table-view .virtual-flow .scroll-bar:horizontal .track,
.table-view .virtual-flow .scroll-bar:horizontal .track-background {
    -fx-background-color: transparent;
}

.table-view .virtual-flow .scroll-bar .increment-button,
.table-view .virtual-flow .scroll-bar .decrement-button {
    -fx-opacity: 0;
    -fx-padding: 2;
}

.table-view .virtual-flow .scroll-bar:vertical .thumb{
    -fx-background-color: #739EF1;
    /*-fx-background-color:  linear-gradient(to bottom, #1dbbdd44, #93f9b944);*/
}

.table-view .virtual-flow .scroll-bar:horizontal .thumb {
    -fx-background-color: #FABF48;
    /*-fx-background-color:  linear-gradient(to right, #1dbbdd44, #93f9b944);*/
}

.transparent-button{
    -fx-background-color: transparent;
}

.home-button-icon{
    -icon-paint: black;
    -fx-background-color: -icon-paint;
    -fx-min-width: 0;
    -fx-max-width: 14;
    -fx-min-height: 0;
    -fx-max-height: 14;
    -fx-pref-height: 15;
    -fx-pref-width: 15;
    -fx-shape: "M12.5919,3.49635 C13.4146,2.83625 14.5854,2.83625 15.4081,3.49635 L23.1581,9.71468 C23.6903,10.1417 24,10.7872 24,11.4696 L24,22.75 C24,23.9926 22.9926,25 21.75,25 L18.75,25 C17.5074,25 16.5,23.9926 16.5,22.75 L16.5,16.75 C16.5,16.3358 16.1642,16 15.75,16 L12.25,16 C11.8358,16 11.5,16.3358 11.5,16.75 L11.5,22.75 C11.5,23.9926 10.4926,25 9.25,25 L6.25,25 C5.00736,25 4,23.9926 4,22.75 L4,11.4696 C4,10.7872 4.30967,10.1417 4.84191,9.71468 L12.5919,3.49635 Z M14.4694,4.6663 C14.1951,4.44627 13.8049,4.44627 13.5306,4.6663 L5.78064,10.8846 C5.60322,11.027 5.5,11.2421 5.5,11.4696 L5.5,22.75 C5.5,23.1642 5.83579,23.5 6.25,23.5 L9.25,23.5 C9.66421,23.5 10,23.1642 10,22.75 L10,16.75 C10,15.5074 11.0074,14.5 12.25,14.5 L15.75,14.5 C16.9926,14.5 18,15.5074 18,16.75 L18,22.75 C18,23.1642 18.3358,23.5 18.75,23.5 L21.75,23.5 C22.1642,23.5 22.5,23.1642 22.5,22.75 L22.5,11.4696 C22.5,11.2421 22.3968,11.027 22.2194,10.8846 L14.4694,4.6663 Z";
}

.search-button-icon{
    -icon-paint: black;
    -fx-background-color: -icon-paint;
    -fx-min-width: 0;
    -fx-max-width: 15;
    -fx-min-height: 0;
    -fx-max-height: 14;
    -fx-pref-height: 15;
    -fx-pref-width: 15;
    -fx-shape: "M325.606,304.394L223.328,202.117c16.707-21.256,26.683-48.041,26.683-77.111C250.011,56.077,193.934,0,125.005,0 C56.077,0,0,56.077,0,125.006C0,193.933,56.077,250.01,125.005,250.01c29.07,0,55.855-9.975,77.11-26.681l102.278,102.277 C307.322,328.536,311.161,330,315,330s7.678-1.464,10.606-4.394C331.465,319.749,331.465,310.251,325.606,304.394z M30,125.006 C30,72.619,72.619,30,125.005,30c52.387,0,95.006,42.619,95.006,95.005c0,52.386-42.619,95.004-95.006,95.004 C72.619,220.01,30,177.391,30,125.006z";
}
.submit-button-icon{
    -icon-paint: black;
    -fx-background-color: -icon-paint;
    -fx-min-width: 0;
    -fx-max-width: 15;
    -fx-min-height: 0;
    -fx-max-height: 15;
    -fx-pref-height: 15;
    -fx-pref-width: 15;
    -fx-shape: "M0.006,152.45c0,20.344,16.546,36.893,36.894,36.893h78.669v78.663c0,20.345,16.546,36.894,36.893,36.894 c20.351,0,36.894-16.549,36.894-36.894v-78.663H268c20.345,0,36.894-16.549,36.894-36.893c0-20.348-16.549-36.894-36.894-36.894 h-78.645V36.894C189.355,16.546,172.812,0,152.462,0c-20.347,0-36.893,16.546-36.893,36.894v78.663H36.9 C16.553,115.557,0.006,132.103,0.006,152.45z M121.718,127.854c3.401,0,6.149-2.756,6.149-6.149V36.894 c0-13.564,11.031-24.596,24.595-24.596c13.565,0,24.596,11.031,24.596,24.596v84.812c0,3.393,2.75,6.149,6.149,6.149H268 c13.565,0,24.596,11.03,24.596,24.596c0,13.564-11.03,24.596-24.596,24.596h-84.793c-3.399,0-6.149,2.756-6.149,6.148v84.812 c0,13.565-11.03,24.596-24.596,24.596c-13.564,0-24.595-11.03-24.595-24.596v-84.812c0-3.393-2.748-6.148-6.149-6.148H36.9 c-13.565,0-24.596-11.031-24.596-24.596c0-13.565,11.031-24.596,24.596-24.596H121.718z";
}