.parent{
    -fx-background-color: #FFFFFF;
    -fx-background-radius: 30;
}

.sidebar{
    -fx-background-color: #FFFFFF;
    -fx-background-radius: 30;
}

.submitButton{
    -fx-background-color: #FF6D3B;
    -fx-background-radius: 20px;
    -fx-effect: null; /*remove drop shadow*/
}

.search_tf{
    -fx-background-color: #FFFFFF ;
    -fx-background-radius: 20px;
}

.textField{
    -fx-background-color: transparent;
    -fx-effect: null;
}

.confessionPost{
    -fx-background-color: #FFFFFF ;
    -fx-background-radius: 20px;
}

.confessionPostInfo{
    -fx-background-color: #FABF48  ;
    -fx-background-radius: 20px;
}

.backButton{
    -fx-background-color: BLACK;
    -fx-background-radius: 20px;
}
